<~header.html~>
	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Home</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li><a href="/admin">Home</a></li>
						<li><a href="#">Table</a></li>
						<li class="active">Class list</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="content mt-3">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header" style="position:relative;">
							<strong class="card-title">Class List</strong>

							<div
								style="position:absolute;display:table;top:15%;right:1%;width:15%;height:70%;border-radius:5px;background:#00f;">
								<a style="display:table-cell;vertical-align:middle;text-align:center;color:#fff;"
									href="/class_schedule_create">Assign classes</a>
							</div>
						</div>
						
						<div class="col-12 col-md-9">
							<input type="date" id="date" onchange="onDateChange(event)" name="date" placeholder="Date" value="{date}" class="form-control">
							<small class="form-text text-muted"></small>
						</div>

						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Class</th>
										<th scope="col">Room</th>
										<th scope="col">Time</th>
										<th scope="col">Date</th>
										<th scope="col">Teacher</th>
										<th scope="col">Date Created</th>
									</tr>
								</thead>
								<tbody>
								{tb}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div><!-- .animated -->
	</div><!-- .content -->

	<script>
		function confirmDelete(uid) {
			var r = confirm("Are you sure you want to delete?")
			if (r) {
				window.location.href = '/class_schedule_delete_' + uid
			}
		}
		function onDateChange(e) {
			console.log(e.target.value);
			window.location.href = '/class_schedule_list_' + e.target.value
		}
	</script>
	<~footer.html~>