<~header.html~>

<div class="breadcrumbs">
	<div class="col-sm-4">
		<div class="page-header float-left">
			<div class="page-title">
				<h1>Home</h1>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="page-header float-right">
			<div class="page-title">
				<ol class="breadcrumb text-right">
					<li><a href="#">Home</a></li>
					<li><a href="#">Forms</a></li>
					<li class="active">Basic</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="content mt-3">
	<div class="animated fadeIn">
		<div style="{msg_style}" class="alert alert-success alert-dismissible fade show" role="alert">
			<span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header">
						<strong>Create</strong> new user
					</div>
					<div class="card-body card-block">
						<form id="myForm1" action="/user_create" method="post" class="form-horizontal">
							<div class="row form-group">
								<div class="col col-md-3"><label for="text-input" class=" form-control-label">Username</label></div>
								<div class="col-12 col-md-9"><input type="text" name="username" placeholder="User's signin name" value="{usr_value}" class="form-control"><small class="form-text text-muted">{usr_err}</small></div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3"><label for="email-input" class=" form-control-label">Email</label></div>
								<div class="col-12 col-md-9"><input type="email" required name="email" placeholder="Enter Email" value="{email_value}" class="form-control"><small class="help-block form-text">Please enter your email</small></div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3"><label for="password-input" class=" form-control-label">Password</label></div>
								<div class="col-12 col-md-9"><input type="password" id="password-input" name="password" placeholder="Password" class="form-control"><small class="help-block form-text">Please enter a complex password</small></div>
							</div>
						</form>
					</div>
					<div class="card-footer">
						<button id="submitBtn" type="submit" class="btn btn-primary btn-sm">
							<i class="fa fa-dot-circle-o"></i> Submit
						</button>
						<button type="reset" class="btn btn-danger btn-sm">
							<i class="fa fa-ban"></i> Reset
						</button>
					</div>
				</div>
			</div>
		</div>
	</div><!-- .animated -->
</div><!-- .content -->

<script>
var btn = document.getElementById("submitBtn");

btn.addEventListener("click", function(){
	var form = document.getElementById("myForm1");
	if (form.reportValidity()) {
		form.submit();
	}
})
</script>

<~footer.html~>